@model DomainClasses.Models.Issue

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Issue/_Layout.cshtml";
}

<h2>Details</h2>
<div>
    <h4>Sprint</h4>

    <fieldset class="dl-horizontal">
        <legend>Issue</legend>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Code)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Code)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Summary)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Summary)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Description)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Description)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Environment)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Environment)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Attachement)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Attachement)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Labels)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Labels)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Project.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Project.Name)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.IssuePriority.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.IssuePriority.Name)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.IssueType.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.IssueType.Name)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.IssueResolution.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.IssueResolution.Name)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.TimeOriginalIstimate)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TimeOriginalIstimate)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.AssigneeId)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.AssigneeId)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Votes)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Votes)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Watches)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Watches)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CreatedDate)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ModifiedDate)
        </div>

       
    </fieldset>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IssueId }) |
    @Html.ActionLink("List", "Index")
</p>
