@model IEnumerable<DomainClasses.Models.Issue>

@{
    ViewBag.Title = "Issue List";
    Layout = "~/Views/Issue/_Layout.cshtml";
}

<h2>Issue List</h2>

<p>
    @Html.ActionLink("Create Issue", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Summary)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Environment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attachement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Labels)
        </th>*@
        <th>
            @*@Html.DisplayNameFor(model => model.Project.Name)*@
            Project
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.IssuePriority.Name)*@
            Priority
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.IssueType.Name)*@
            Type
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.IssueResolution.Name)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.TimeOriginalIstimate)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.AssigneeId)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Votes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Watches)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.IsDirty)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Summary)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Environment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Attachement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Labels)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Project.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssuePriority.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssueType.Name)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.IssueResolution.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeOriginalIstimate)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.AssigneeId)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Votes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Watches)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.ModifiedDate)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.IsDirty)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IssueId }) |
            @Html.ActionLink("Details", "Details", new { id=item.IssueId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IssueId })
        </td>
    </tr>
}

</table>
