@model IEnumerable<SJiraCore.Models.DashboardModel>

<div class="col-lg-12">
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Owner)
                </th>


                <th>
                    @Html.DisplayNameFor(model => model.SharedWith)
                </th>

                @if (ViewBag.manage == "Popular" || ViewBag.manage == "Filter")
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Popularity)

                    </th>
                }
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @*<a href="@Url.Action("Edit", "Dashboard", new { id = item.DashboardId, name = item.Name, menuAction = item.Name.Replace(" ", string.Empty) })">@Html.DisplayFor(modelItem => item.Name)</a>*@
                        @if ( item.Favorite==true)
                        {
                            
                            <a id="btnUpVote"  href="#"><i class="fa fa-star"></i></a>
                        }
                        else
                        {
                            
                            <a  id="btnDownVote" href="#"><i class="fa fa-star-o"></i></a>
                        }
                        <a href="@Url.Action("Edit", "Dashboard", new { id = item.DashboardId})">@Html.DisplayFor(modelItem => item.Name)</a>
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Owner)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.SharedWith)
                    </td>
                    @if (ViewBag.manage == "Popular" || ViewBag.manage == "Filter")
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Popularity)
                        </td>
                    }
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.DashboardId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.DashboardId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.DashboardId })
                    </td>
                </tr>
            }

        </table>
    </div>
    <!-- /.table-responsive -->


</div>
@section Scripts {
  <script>
$(".fa").click(function() {
   var $this = $(this);
   if ($this.hasClass("fa fa-star-o")) {
      $this.removeClass("fa fa-star-o").addClass("fa fa-star");
      return;
   }
   if ($this.hasClass("fa fa-star")) {
      $this.removeClass("fa fa-star").addClass("fa fa-star-o");
      return;
   }
});
</script> 
}
