@model SJiraCore.Models.DashboardModels

@{
    ViewBag.Title = "Dashboard Page";
    Layout = "~/Views/Dashboard/_Layout.cshtml";
}
@section SideBar {
    @Html.Action("SideBarManage", "MenuItem")

}
@section SideBarTemp 
        {

}
@section MainBar {
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <button  type="button" class="btn btn-default" onclick="location.href='@Url.Action("Create", "Dashboard")'">Create new dashboard</button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-default">Restore Defaults</button>
                    </li>
                </ul>
                <br />
                <br />
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
}

<div>
    <h4>@Model.Title</h4>
    <p>@Model.SubTitle</p>
    @Html.Partial("_ListPartial", Model.DashboardModelList)
</div>
