@model DomainClasses.Models.Issue

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Issue/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Issue</h4>
        <hr />
        @Html.ValidationSummary(true)
         @Html.HiddenFor(model => model.IssueId)

        
            <div class="form-group">
            @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Code)
                @Html.ValidationMessageFor(model => model.Code)
            </div>
        </div>

           <div class="form-group">
            @Html.LabelFor(model => model.Summary, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Summary)
                @Html.ValidationMessageFor(model => model.Summary)
            </div>
        </div>

         <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
          
        <div class="form-group">
            @Html.LabelFor(model => model.Environment, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Environment)
                @Html.ValidationMessageFor(model => model.Environment)
            </div>
        </div>
          
         <div class="form-group">
            @Html.LabelFor(model => model.Attachement, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Attachement)
                @Html.ValidationMessageFor(model => model.Attachement)
            </div>
        </div>


                     <div class="form-group">
            @Html.LabelFor(model => model.Labels, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Labels)
                @Html.ValidationMessageFor(model => model.Labels)
            </div>
        </div>

           

            <div class="form-group">
                @Html.LabelFor(model => model.ProjectId, "Project", new { @class = "control-label col-md-2" })
            
            <div class="col-md-10">
                @Html.DropDownList("ProjectId", String.Empty)
                @Html.ValidationMessageFor(model => model.ProjectId)
            </div></div>

           <div class="form-group">
                @Html.LabelFor(model => model.IssuePriorityId, "IssuePriority", new { @class = "control-label col-md-2" })
            
           <div class="col-md-10">
                @Html.DropDownList("IssuePriorityId", String.Empty)
                @Html.ValidationMessageFor(model => model.IssuePriorityId)
            </div></div>

            <div class="form-group">
                @Html.LabelFor(model => model.IssueTypeId, "IssueType", new { @class = "control-label col-md-2" })
            
            <div class="col-md-10">
                @Html.DropDownList("IssueTypeId", String.Empty)
                @Html.ValidationMessageFor(model => model.IssueTypeId)
            </div></div>

            <div class="form-group">
                @Html.LabelFor(model => model.IssueResolutionId, "IssueResolution", new { @class = "control-label col-md-2" })
            
            <div class="col-md-10">
                @Html.DropDownList("IssueResolutionId", String.Empty)
                @Html.ValidationMessageFor(model => model.IssueResolutionId)
            </div></div>

            <div class="form-group">
                @Html.LabelFor(model => model.TimeOriginalIstimate, new { @class = "control-label col-md-2" })
           
            <div class="col-md-10">
                @Html.EditorFor(model => model.TimeOriginalIstimate)
                @Html.ValidationMessageFor(model => model.TimeOriginalIstimate)
            </div> </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AssigneeId, new { @class = "control-label col-md-2" })
            
            <div class="col-md-10">
                @Html.EditorFor(model => model.AssigneeId)
                @Html.ValidationMessageFor(model => model.AssigneeId)
            </div></div>

            <div class="form-group">
                @Html.LabelFor(model => model.Votes, new { @class = "control-label col-md-2" })
            
            <div class="col-md-10">
                @Html.EditorFor(model => model.Votes)
                @Html.ValidationMessageFor(model => model.Votes)
            </div></div>

            <div class="form-group">
                @Html.LabelFor(model => model.Watches, new { @class = "control-label col-md-2" })
            
            <div class="col-md-10">
                @Html.EditorFor(model => model.Watches)
                @Html.ValidationMessageFor(model => model.Watches)
            </div></div>

           

           

           

             <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
        
    </div>
}

<div>
    @Html.ActionLink("List", "Index")
</div>

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
}
