@model DomainClasses.Models.MenuItem

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>MenuItem</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.MenuItemId)

        <div class="form-group">
            @Html.LabelFor(model => model.ParentId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ParentId)
                @Html.ValidationMessageFor(model => model.ParentId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DisplayOrder, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DisplayOrder)
                @Html.ValidationMessageFor(model => model.DisplayOrder)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MenuAction, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MenuAction)
                @Html.ValidationMessageFor(model => model.MenuAction)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MenuIcon, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MenuIcon)
                @Html.ValidationMessageFor(model => model.MenuIcon)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MenuIconAfter, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MenuIconAfter)
                @Html.ValidationMessageFor(model => model.MenuIconAfter)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MenuItemTypeId, "MenuItemTypeId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MenuItemTypeId", String.Empty)
                @Html.ValidationMessageFor(model => model.MenuItemTypeId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
