@model IEnumerable<DomainClasses.Models.MenuItem>

<div>
    <div class="row">
        <div class="col-lg-6">
             @Html.Partial("~/Views/Dashboard/Gadgets/Pie_Chart.cshtml")
        </div>
        <div class="col-lg-6">
             @Html.Partial("~/Views/Dashboard/Gadgets/Multiple_Line_Chart.cshtml")        
        </div>
        <div class="col-lg-6">
             @Html.Partial("~/Views/Dashboard/Gadgets/Moving_Line_Chart.cshtml")    
        </div>
        <div class="col-lg-6">
             @Html.Partial("~/Views/Dashboard/Gadgets/Bar_Chart.cshtml")              
        </div>
        <div class="col-lg-12">
            @Html.Partial("~/Views/Dashboard/Gadgets/Line_Chart.cshtml")          
        </div>
    </div>
</div>
