@model DomainClasses.Models.Dashboard

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Dashboard/_Layout.cshtml";
}

<h2>Create New Dashboard</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
      
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, "Name*", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ParentId, "Start From", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ParentId", "Blank dashboard")
                @Html.ValidationMessageFor(model => model.ParentId)

                <p class="help-block">Choose a dashboard whose gadgets will be copied to the new dashboard.</p>
                <p class="help-block">Alternatively, choose 'Blank dashboard' to create a dashboard with no gadgets.</p>
            </div>

        </div>


        <div class="form-group">
            <label for="Favorite" class="control-label col-md-2">Favorite</label>
            <div class="col-md-10">
                <i class="fa  fa-star"></i>
            </div>
        </div>

       @* <div class="form-group">
            @Html.LabelFor(model => model.Favorite, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <i class="fa  fa-star"></i>
                @Html.TextAreaFor(model => model.Favorite)
                @Html.ValidationMessageFor(model => model.Favorite)
            </div>
        </div>*@



        <div class="form-group">
            <label for="Shares" class="control-label col-md-2">Shares</label>
            <div class="col-md-10">
                <i class="fa  fa-user"> Not shared</i>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SharedWithId, "Add Shares", new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.DropDownList("SharedWithId", "Everyone")
                @Html.ValidationMessageFor(model => model.SharedWithId)
                <p class="help-block">Share with everyone.</p>
            </div>
            <div class="col-md-8">

                <button type="button" class="btn btn-default">
                    <i class="fa fa-plus"> Add</i>
                </button>
            </div>
        </div>

        @*<div class="form-group">
             @Html.LabelFor(model => model.OwnerId, "Owner", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("OwnerId", String.Empty)
                @Html.ValidationMessageFor(model => model.OwnerId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DashboardTypeId, "Dashboard Type", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DashboardTypeId", String.Empty)
                @Html.ValidationMessageFor(model => model.DashboardTypeId)
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-default" />
                @Html.ActionLink("Cancel", "Index")
            </div>
        </div>
    </div>
}


