@model IEnumerable<DomainClasses.Models.MenuItem>

@{
    ViewBag.Title = "Home Page";
    var sw = true;
}

@*@if (Request.IsAuthenticated)
{
    <text>
    Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
}
else
{
    

    *@
<ul class="nav navbar-top-links navbar-right">
        @foreach (DomainClasses.Models.MenuItem item in Model)
        {
            if (item.Child.Count > 0)
            {
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="@item.MenuAction">
                    @item.Title&nbsp<i class="fa fa-caret-down"></i>
                </a>

                <ul class="dropdown-menu" role="menu">
                    @foreach (DomainClasses.Models.MenuItem subitem in item.Child.OrderBy(p => p.DisplayOrder))
                    {
                        if (subitem.Title == "Separated link")
                        {
                        <li class="divider"></li>    
                        }
                        else
                        {
                            if (subitem.MenuAction == "#")
                            {
                        <li>&nbsp;&nbsp;<strong>@subitem.Title</strong></li>    
                            }
                            else
                            {                                                                                               
                        <li><a href="@subitem.MenuAction">@subitem.Title</a></li>
                            }
                        }
                    }
                </ul>
            </li>
            }
            else
            {
                if (sw == true)
                {
                    sw = false;
            <li class="nav"><a href="@item.MenuAction">@item.Title</a></li>
                }
                else
                {
                              
            <li class="nav"><a href="@item.MenuAction">@item.Title</a></li>
                }
            }

        }

    </ul>
@*<ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                </ul>*@

@*}*@